body {
    background: linear-gradient(0.25turn, #1f6380, #d4d4d4, #f58c1b);
    /*background-color: #1b1b1b;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

.result-container {
    position: relative;
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.options-container {
    position: relative;
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.option {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.option:hover {
    height: 220px;
    width: 220px;
    border: 4px double #f5a207;
    border-radius: 20%;
}

.result {
    height: 200px;
    width: 200px;
    display: flex;
}

.result#text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    color:#f0f8ff00;
}

#text {
    font-size: 38px;
    font-weight: bold;
    color: #f5a207;
    font-family: 'Gochi Hand', cursive;
}

.replay-button {
    height: 100px;
    width: 100px;
    color:#f5a207;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gochi Hand', cursive;
    border-radius: 20%;
    background-color:#f5f5f5;
    border: 2px double #f58c1b;
}

.replay-button:hover {
    width: 120px;
    height: 120px;
    box-shadow: 2px 0px 18px #f5a207;
}